/*
    display
  flex / position
  overflow
    margin / padding
  width / height
  border
    color
    font
    animation
*/

/* ---- Imports ---- */
@import url("normalize.css");

/* ---- Variables ---- */
:root {
	/* <- Color Scheme -> */
	--main-color: #232931;
	--shade-color: rgb(23, 27, 30);
	--accent-color: #4ecca3;
	--overlay-color: rgba(34, 41, 49, 0.822);
	--font-color: #f5f5f3;
	--font-color-warning: #FCAB10;

	/* <- Typography -> */
	--main-font: "Montserrat", sans-serif;
	/* --accent-font: */
	--main-font-wght: 500;
	--base-size: 0.79rem;
	--type-scale: 1.125; /* Screen Sizes | L - Major 3rd - 1.25 | M - 1.2 Minor 3rd | S - 1.125 Major 2nd */
	--h5: calc(var(--base-size) * var(--type-scale));
	--h4: calc(var(--h5) * var(--type-scale));
	--h3: calc(var(--h4) * var(--type-scale));
	--h2: calc(var(--h3) * var(--type-scale));
	--h1: calc(var(--h2) * var(--type-scale));
}

/* <- Reset, Border-Box, & Font-Var-Set -> */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-variation-settings: "wght" var(--main-font-wght);
}
html,
body {
	overflow-x: hidden;
	max-width: 100%;
}

/* <- Typescale --> */
h1 {
	font-size: var(--h1);
}
h2 {
	font-size: var(--h2);
}
h3 {
	font-size: var(--h3);
}
h4 {
	font-size: var(--h4);
}
h5 {
	font-size: var(--h5);
}
p {
	font-size: var(--base-size);
}
body {
	background-color: var(--main-color);
	font-family: var(--main-font);
	color: var(--font-color);
}

/* <- Navbar -> */
nav {
	position: fixed;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 1.5em 0;
	min-height: 15vh;
	width: 100%;
	top: 0;
	z-index: 80;
	background-color: var(--shade-color);
	text-transform: uppercase;
}
a {
	color: var(--font-color);
	text-decoration: none;
}
nav > a:first-of-type {
	margin-bottom: 0.5em;
	text-transform: uppercase;
	letter-spacing: 5px;
}
nav > ul a {
	padding: 0 0.4em;
	font-size: var(--base-size);
	font-weight: bold;
	letter-spacing: 3px;
}
nav li {
	display: inline-block;
	list-style: none;
}
nav > ul li::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: var(--font-color);
	transition: width 0.3s;
}
nav > ul li:hover::after {
	width: 100%;
	transition: width 0.3s;
}

/* <- Birth Chart Article -> */
body > div > article:first-of-type {
	margin-top: 11em;
}

/* <- All Articles -> */
div > article {
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 3.5em;
	max-width: 80%;
	text-align: center;
}
article > h1,
article > h2,
article > h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
}
article > h3 {
	margin-top: 3em;
}

/* ---- Chart Display ---- */
article > h2,
article > h3,
article > div:first-of-type {
	margin-bottom: 1em;
}
article > div:first-of-type {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
article > div > p.unknown {
	margin-top: 2em;
}
article > div > p,
article > div > p.unknown ~ p.unknown {
	margin-top: .8em;
}
article > div > p {
	color: var(--font-color);
}
article > div > p.unknown {
	color: var(--font-color-warning);
}

/* <- CSS Grid -> */
article > div.chart,
article > div.houses,
article > div.stellia {
	display: grid;
	justify-content: center;
	justify-items: left;
	margin: 0 auto;
}
article > div.chart,
article > div.houses {
	grid-template-rows: repeat(10, 1fr);
}
article > div.chart {
	grid-template-columns: repeat(3, minmax(min(50px, 20%), 6fr)) 1fr;
}
article > div.chart > p.house,
article > div.stellia > p.occurrences {
	justify-self: center;
}
article > div.houses,
article > div.stellia {
	grid-template-columns: 3fr 1fr;
	max-width: 80%;
}
article > div.stellia {
	max-width: 50%;
}
article > div.stellia > p.no-stellia {
	grid-column: 1 / 3;
}

/* ---- Form ---- */
article > form {
	margin-top: 2em;
}
form > div:not(:first-of-type) {
	margin-top: 2em;
}
form > div.time > label:not(.unknown),
form > div.location > label {
	margin-top: .5em;
}
form > div.time > select,
form > div.location > input {
	margin: .2em 0;
}
form > button:last-of-type {
	margin-top: 1.5em;
}

/* <- CSS Grid -> */
form > div {
	display: grid;
	grid-row-gap: .2em;
}
form > div:not(.time) {
	grid-column-gap: .5em;
}
form > div > label:not(.unknown) {
	justify-self: left;
}

/* Date */
form > div.date {
	grid-template-columns: repeat(3, minmax(min(50px, 20%), 1fr));
	grid-template-rows: repeat(2, 1fr);
}
div.date > label {
	grid-row: 1 / 2;
}

/* Time & Location */
form > div.time,
form > div.location {
	grid-template-columns: repeat(2, minmax(min(50px, 20%), 1fr));
	grid-template-rows: repeat(4, 1fr);
}
div.time > *:not(.unknown),
div.location > *:not(button) {
	grid-column: 1 / 2;
}
div.time > label.unknown {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	justify-self: center;
	align-self: center;
}
div.time > .unknown:not(label) {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	justify-self: center;
	align-self: center;
}
form > div.location {
	grid-column-gap: .9em;
}
div.location > button.location {
	grid-column: 2 / 3;
	grid-row: 2 / 4;
	margin: .6em 0;
}

/* System */
form > div.system {
	grid-template-columns: repeat(2, minmax(min(50px, 20%), 1fr));
	grid-template-rows: repeat(2, 1fr);
}
div.system > label.system {
	grid-row: 1 / 2;
}


/* ---- Tablet ---- */
@media screen and (min-width: 650px) {
	:root {
		--base-size: 1rem;
		--type-scale: 1.2;
	}

	/* <- Birth Chart Article -> */
	body > div > article:first-of-type {
	margin-top: 14em;
}

	.intro {
		width: 80%;
	}

	body > article:not([class="intro"]),
	body > article:not([class="title"]) {
		margin-bottom: 8em;
	}

	article > div + div h3 a {
		font-size: var(--h3);
	}

	.thumb {
		width: 250px;
		height: 250px;
	}

	/* Gallery */
	.gallery img {
		min-width: 75%;
		max-width: 75%;
		margin-top: 2em;
	}
}

/* ---- Desktop ---- */
@media screen and (min-width: 1100px) {
	:root {
		--base-size: 0.889rem;
		--type-scale: 1.2;
	}

	nav {
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 1em 0;
	}

	nav > a:first-of-type {
		margin-left: 3em;
	}

	nav li {
		margin-right: 3em;
	}

	div > article:first-of-type {
		margin-top: 12em;
	}

	div > article.moment {
		margin-top: 8em;
	}

	article > div + div p {
		margin-top: 2em;
	}
}
